.full-image-container
  .btn-container
    z-index: 99
    position: absolute
    bottom: 5%
    right: 2%
    button
      position: relative
      &:first-child
        margin-right: 10px
      &:last-child
        margin-left: 10px
    &.hidden
      animation: vanish 1s normal

@keyframes vanish
  0%
    opacity: 1
  30%
    opacity: 0
  100%
    opacity: 0
